.table-row {
  background-color: transparent;
  transition: all 0.3s ease;
}

.table-row:hover {
  background-color: #AFE1AF;
}

.table-row td {
  width: 100px;
  overflow: hidden;
}

.ticker {
  border: 1px solid black;
  background-color: darkgreen;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

@keyframes changeNumber {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation: changeNumber 500ms;
  animation-fill-mode: forwards;
}
