.table-row {
  background-color: transparent;
  text-align: center;
  transition: all 0.3s ease;
}

.table-row:hover {
  background-color: rgba(88,123,173, 50%);
}

.table-row td {
  width: 90px;
  overflow: hidden;
}

.ticker {
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.favorites {
  background-color: transparent;
  border: none;
  color: #fff;
}

.fav {
  height: 25px;
  width: 25px;
}

.cell{
  padding-inline: 10px;
  border-radius: 5px;
  text-align: center;
}

@keyframes changeNumber {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated {
  animation: changeNumber 500ms;
  animation-fill-mode: forwards;
}
