.selector-container {
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
}

.selector-label {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.custom-select {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color:  #023783;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 2px 4px rgba(0 0 0 / 30%);
    transform: scale(1.1)
  }
}

.custom-select .select-value {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.custom-select .options {
  text-align: center;
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: #023783;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.custom-select .options li {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 12px;
  transition: all 0.3s;
  text-align: center;
}

.custom-select .options li:hover {
  background-color: rgba(255,255,255, 50%);
  font-weight: 700;
}

.custom-select.active .options {
  display: block;
}
